[project]
	description = This is a demo project for IOT
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/milome
[access "refs/for/refs/*"]
	read = group user/milome
	push = group user/milome
	label-Code-Review = -2..+2 group user/milome
	label-Verified = -1..+1 group user/milome
	rebase = group user/milome
	removeReviewer = group user/milome
	submit = group user/milome
[access "refs/heads/*"]
	read = group user/milome
	create = group user/milome
	push = +force group user/milome
	pushMerge = group user/milome
[access "refs/tags/*"]
	push = +force group user/milome
	pushTag = group user/milome
	pushSignedTag = group user/milome
